@model IEnumerable<Container.tbl_users>

@{
    ViewBag.Title = "טבלת משתמשים";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>טבלת משתמשים</h2>

<p>
    @Html.ActionLink("צור חדש", "Create")
</p>
<table class="table">
    <tr>
        <th>
            שם משתמש
        </th>
        <th>
            רמת משתמש
        </th>
        <th>
            אימייל
        </th>
        <th>
            סיסמא
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserEmail)
        </td>
        <td>
            @Html.HiddenFor(modelItem => item.password)*************
        </td>
        <td>
            @Html.ActionLink("ערוך", "Edit", new { id=item.UserNum }) |
            <a id="deleteUser" class="deleteUser" num="@item.UserNum">מחק</a>
            @*@Html.ActionLink("מחק", "Delete", new { id=item.UserNum })*@
        </td>
    </tr>
}

</table>
<script>
    $(".deleteUser").click(function () {
        if (confirm('האם אתה בטוח שברצונך למחוק את המשתמש?')) {
            var id = $(this).attr('num');
            $.ajax({
                type: 'POST',
                url: "/Management/Delete",
                data: { id },
                success: function (data) {
                    location.href = location.href;
                }
            });
        }
        else return;
        
    })
</script>
