@model Container.tbl_Papertypes

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>עריכה</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>טבלת סוגי נייר</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PaperId)

        <div class="form-group">
            <label class="control-label col-md-2">תאור נייר</label>
            <div class="col-md-5">
                @Html.EditorFor(model => model.PaperTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PaperTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="שמור" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("חזרה לרשימה", "PaperTypesList")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
